
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #def0ec;
    color: #000000;
}

.site-header{
    background: rgb(61, 189, 248);
    color: rgb(255, 255, 255);
    padding: 2rem;
    text-align: center;
}

.content{
    display: flex; 
    gap: 5rem; 
    flex-wrap: wrap; 
    justify-content: center;
    padding: 2rem;
}

.card {
    background-color: #b081fc;
    padding: 20px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;              
    height: auto;             
    border-radius: 15px;      
    object-fit: cover;        
    margin-top: 15px;
}
footer {
  background-color: #222; 
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer a {
  color: #ffd700;
  text-decoration: none;
}